.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.item {
    background-image: url("assets/pegboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: 2/3/7/6
}

