@font-face {
    font-family: 'zpix';
    src: url(assets/zpix.ttf);
}

@font-face {
    font-family: 'RedactionReg';
    src: url(assets/Redaction50-Regular.otf);
}

@font-face {
    font-family: 'RedactionItalic';
    src: url(assets/Redaction50-Italic.otf);
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.item {
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("assets/pegboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: 2/3/7/6;
}

.head {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:10vw;
    font-weight: 200;
    grid-area: 4/2/4/7;
    color:rgb(46, 57, 71);
}

.text {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:3vh;
    font-weight: 200;
    grid-area: 4/3/5/6;
    color:rgb(46, 57, 71);
    line-height: 2;
}

.header {
    font-family:'RedactionItalic';
    text-align: left;
    font-size:8vw;
    font-weight: 200;
    grid-area: 1/2/2/11;
    color:rgb(46, 57, 71);
}

a {
    text-decoration:none;
    color:rgb(46, 57, 71);
  }

a:hover {
    color:rgb(170, 183, 215);
  }

.p1container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.p1grid {
    background-image: url("assets/receipt.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 2/7/11/11;
}

.p1polaroid1 {
    background-image: url("assets/ttmcy1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/2/11/4;
}

.p1polaroid2 {
    background-image: url("assets/ttmcy2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/4/11/6;
}

.p1polaroid3 {
    background-image: url("assets/ttmcy3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/6/11/8;
}

.p1text {
    font-family:'RedactionItalic';
    text-align: left;
    font-size:21px;
    font-weight: 200;
    grid-area: 2/2/5/7;
    color:rgb(46, 57, 71);
    line-height: 1.5;
}

.next {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:20px;
    font-weight: 200;
    grid-area: 4/7/5/8;
    color:rgb(46, 57, 71);
}

.next2 {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:20px;
    font-weight: 200;
    grid-area: 4/5/5/8;
    color:rgb(46, 57, 71);
}

.video {
    padding-top: 5%;
    padding-left: 10%;
    grid-area: 6/6/11/10;
}

.p2polaroid1 {
    background-image: url("assets/w2e1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1/7/5/9;
}

.p2polaroid2 {
    background-image: url("assets/w2e2.jpg");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/3/10/7;
}

.p2polaroid3 {
    background-image: url("assets/w2e3.jpg");
    background-size:220px;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1/8/8/11;
}

.p2w2es {
    background-image: url("assets/w2esticker.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: left;
    grid-area: 3/2/11/7
}

.p3item {
    background-image: url("assets/keys.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 2/7/10/11;
}

.p3polaroid1 {
    background-image: url("assets/p3p1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/2/11/4;
}

.p3polaroid2 {
    background-image: url("assets/p3p2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/4/11/6;
}

.p3polaroid3 {
    background-image: url("assets/p3p3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/6/11/8;
}

.p4m {
    background-image: url("assets/miffy.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 2/6/7/10
}

.p4k {
    background-image: url("assets/kuromi.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 4/8/8/11
}

.p4text1 {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:18px;
    font-weight: 200;
    grid-area: 8/7/10/10;
    color:rgb(46, 57, 71);
    line-height: 1.5;
    padding-left: 15%;
}

.p4b {
    background-image: url("assets/bunnies.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 5/2/11/9
}

.p4ic {
    background-image: url("assets/icecream.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 2/1/10/5
}

.next4 {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:20px;
    font-weight: 200;
    grid-area: 3/6/5/8;
    color:rgb(46, 57, 71);
}

.p4text2 {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:18px;
    font-weight: 200;
    grid-area: 8/2/11/4;
    color:rgb(46, 57, 71);
    line-height: 1.5;
}

.p4text3 {
    font-family:'RedactionItalic';
    text-align: center;
    font-size:18px;
    font-weight: 200;
    grid-area: 4/4/6/7;
    color:rgb(46, 57, 71);
    line-height: 1.5;
    padding-left: 20%;
    padding-right: 15%;
}